body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/src/images2/Group 3 (46).png'); /* Указываем путь к картинке */
  background-size: cover; /* Растягиваем картинку, чтобы она покрывала весь экран */

    background-position: center center; /* Центрируем картинку */
    background-repeat: no-repeat; /* Запрещаем повторение картинки */
    margin: 0; /* Убираем стандартные отступы */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
